<% @nav = "proyecto" %>
</br><h1 style="margin: 0 1em;position:relative;">Nuevo Proyecto</h1>

<%= render 'form' %>
<div style="padding-left:20px;">
<%= link_to 'Atras', proyectos_path , :class => "btn btn-default"%>
</div>
