<% @nav = "catalogo" %><% if current_user.siglas == @catalogo.entidad%>
<h1 style="margin: 0.3em 2em;">Editando Catálogo de Servicio Científico-Tecnológico. <%= @catalogo.nombre%></h1>
<hr>

<%= render 'form' %>

<% else %> <h1>Acceso denegado :)</h1>
<%= link_to 'Atras', catalogos_path,class: "btn btn-default", style: "margin:20px 0 0 0;" %><% end %> 
