<% @nav = "convenio" %>
<% if current_user and current_user.tipo.to_i == 2 %>
<div>
<h1  style="margin: 0.3em 2em;">Nuevo Convenio</h1>
</div>
<%= render 'form' %>
</br>
<% else %> 
<h1>Acceso denegado :)</h1>
<div style="padding-left:20px;">
<%= link_to 'Volver', convenios_path ,class: "btn btn-default"%>
</div>
<% end %> 