<% @nav = "inicio" %>
<h1 style="margin: 0.5em 2em;">Ultimas Noticias</h1>
<div class="row" style="margin:0.2em;">
           <div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/04/08/thumbnails/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI.jpg src= http://www.uni.edu.ni/img/Articulos/2016/04/08/thumbnails/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI ><h4>​Encuentro de Beta tester de Cootel en la UNI</h4></a>
                    <p>CooTel presentó en la UNI sus planes de servicio y oferta que muy prontó ofrecerá a los usuarios de telecomunicaciones nicaragüenses.</p>
                </div>
            </div>

           <div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Civil-avanza-en-su-autoevaluacion >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/04/08/thumbnails/Civil-avanza-en-su-autoevaluacion3.jpg src= http://www.uni.edu.ni/img/Articulos/2016/04/08/thumbnails/Civil-avanza-en-su-autoevaluacion3.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Civil-avanza-en-su-autoevaluacion ><h4>Civil avanza en su autoevaluación</h4></a>
                    <p>Obtener propuestas de mejoras que ayuden a consolidar los planteamientos del proceso de validación interna del Informe Preliminar de Autoevaluación del Programa de Ingeniería Civil...</p>
                </div>
            </div>

<div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Reconocimiento-a-las-Mujeres-en-su-Dia >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/03/09/thumbnails/Reconocimiento-a-las-Mujeres-en-su-Dia.jpg src= http://www.uni.edu.ni/img/Articulos/2016/03/09/thumbnails/Reconocimiento-a-las-Mujeres-en-su-Dia.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Reconocimiento-a-las-Mujeres-en-su-Dia ><h4>Reconocimiento a las Mujeres en su Día</h4></a>
                    <p>La UNI celebró el Día Internacional de la Mujer con un ciclo de conferencias sobre temas de genero y salud femenina. </p>
                </div>
</div>
<div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/03/09/thumbnails/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria.jpg src= http://www.uni.edu.ni/img/Articulos/2016/03/09/thumbnails/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria ><h4>Luis Enrique abriendo surcos de Identidad Cultural UNIversitaria</h4></a>
                    <p>El próximo 16 de marzo la UNI
se vestirá de gala al presentar un Concierto en Conmemoración del Centenario de
la muerte de&#8230;</p>
                </div>
                </div>
<div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/U-de-la-mano-con-la-Policia-Nacional >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/03/08/thumbnails/U-de-la-mano-con-la-Policia-Nacional.jpg src= http://www.uni.edu.ni/img/Articulos/2016/03/08/thumbnails/U-de-la-mano-con-la-Policia-Nacional.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/U-de-la-mano-con-la-Policia-Nacional ><h4>U  de la mano con la Policía Nacional</h4></a>
                    <p>19 funcionarios de la Policía Nacional
dieron por finalizado el posgrado en&#8230;</p>
                </div>
 </div>


            